<ion-menu side="start" menuId="first" contentId="main-content" max-edge-start="false" swipeGesture="true" class="custom-menu">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="perfil-container" fullscreen>
  <mat-toolbar class="toolbar custom-toolbar">
    <button mat-icon-button class="menu-button" (click)="openMenu()" class="custom-toolbar-button">
      <ion-icon slot="icon-only" name="menu-outline" class="icon-large"></ion-icon>
    </button>
  </mat-toolbar>
  
  

  <div class="perfil-card">

    <img 
      *ngIf="!capturedImage"
      (click)="captureImage()" 
      class="avatar" 
      src="../../../assets/blank_profile.jpg" 
      alt="Foto de perfil" 
    />  

    <div *ngIf="capturedImage" class="image-container">
      <img [src]="capturedImage"  class="avatar"  alt="foto perfil" >
    </div>

    <h2> {{name}}</h2>
    <p class="estado-plan">Plan no activo</p>

    <div class="info-box">
      <div class="info-item">
        <strong>Email:</strong> <span>{{email}}</span>
      </div>
    </div>
  </div>
</ion-content>
