<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="not-found-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página no encontrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="not-found-container">
    <ion-icon name="alert-circle-outline" class="not-found-icon"></ion-icon>
    <h2>¡Oops! No pudimos encontrar la página</h2>
    <p>Es posible que la dirección esté incorrecta o que la página haya sido movida.</p>

    <ion-button color="primary" routerLink="/login">
      Ir a Inicio de Sesión
    </ion-button>
  </div>
</ion-content>
