.home-container {
    background-image: url('https://images.unsplash.com/photo-1617957741797-5f9b13c584c3?auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // semitransparente
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-content {
    text-align: center;
    color: #fff;
  
    h1 {
      font-size: 2.8rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    .button-group {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .principal-buttom{
      margin-top: 8px;
    }
  }
  