<ion-content class="ion-padding fondo-negro">
  <mat-card class="mat-elevation-z2 tabla-wrapper">

  
  <div class="tabla-planes">
    <table>
      <thead>
        <tr>
          <th class="columna-titulo"></th>
          <th class="plan">Básico<br><span>$0/mes</span></th>
          <th class="plan">Pro<br><span>$15.000/mes</span></th>
          <th class="plan plan-destacado">Oro<br><span>$35.000/mes</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Usuarios por taller</td>
          <td>1</td>
          <td>3</td>
          <td>Ilimitados</td>
        </tr>
        <tr>
          <td>Fotos por trabajo</td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td>3</td>
          <td>Ilimitadas</td>
        </tr>
        <tr>
          <td>Videos por trabajo</td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
        <tr>
          <td>Métricas Mensuales</td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
        <tr>
          <td>Dashboard con métricas</td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
        <tr>
          <td>Aviso a cliente por correo</td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
        <tr>
          <td>Aviso a cliente por WhatsApp</td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
        <tr>
          <td>Informe a cliente por trabajo</td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
        <tr>
          <td>Cotización a cliente por trabajo</td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td><ion-icon name="close-circle-outline" class="icono-rojo"></ion-icon></td>
          <td><ion-icon name="checkmark-circle-outline" class="icono-verde"></ion-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
  </mat-card>
</ion-content>
